@use "../../../../styles/colors" as colors;

.slider {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__wrapper {
        max-width: 1327px;
        overflow: hidden;
    }
    &__container {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 23px;
        overflow-x: scroll;
        scroll-behavior: smooth;
        &::-webkit-scrollbar {
            display: none;
            -ms-overflow-style: none;
            scrollbar-width: none
        }
    }
    &__btn {
        width: 64px;
        height: 64px;
        position: absolute;
        top: 56%;
        transform: translate(0, -56%);
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 50%;
        background-color: colors.$white;
        filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.14));
        z-index: 12;
        &:disabled {
            opacity: 0.5;
        }
        &.slider__btn--left {
            left: -32px;
            & svg {
                transform: rotate(180deg);
            }
        }
        &.slider__btn--right {
            right: 0;
        }
    }
}