<div class="slider">
  <button class="slider__btn slider__btn--left" (click)="moveLeft()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none">
      <path
        d="M5 12H19"
        stroke="#202020"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round" />
      <path
        d="M12 5L19 12L12 19"
        stroke="#202020"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round" />
    </svg>
  </button>
  <div class="slider__wrapper">
    <div class="slider__container" #moveSlider>
      <ng-container
        *ngIf="sliderElems[0].hasOwnProperty('address'); else category">
        <app-card
          style="display: block"
          *ngFor="let elem of sliderElems; let i = index"
          [restaurant]="elem"></app-card>
      </ng-container>
      <ng-template #category>
        <app-category
          *ngFor="let elem of sliderElems"
          [category]="elem"></app-category>
      </ng-template>
    </div>
  </div>
  <button class="slider__btn slider__btn--right" (click)="moveRight()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none">
      <path
        d="M5 12H19"
        stroke="#202020"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round" />
      <path
        d="M12 5L19 12L12 19"
        stroke="#202020"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round" />
    </svg>
  </button>
</div>
