<footer class="footer">
  <div class="footer__container">
    <div class="footer__logo">
      <img src="assets/icons/logo.svg" alt="Logo" />
    </div>
    <div class="footer__discover">
      <h3 class="subtitle subtitle--third-level footer__subtitle">
        Discover us
      </h3>
      <ul class="footer__list">
        <li class="footer__item">
          <a routerLink="/" class="footer__link">Home</a>
        </li>
        <li class="footer__item">
          <a routerLink="categories/all" class="footer__link">Categories</a>
        </li>
        <li class="footer__item">
          <a class="footer__link">About</a>
        </li>
      </ul>
    </div>
    <div class="footer__social">
      <h3 class="subtitle subtitle--third-level footer__subtitle">
        Our social media
      </h3>
      <ul class="footer__list">
        <li class="footer__item">
          <a class="footer__link">Facebook</a>
        </li>
        <li class="footer__item">
          <a class="footer__link">Instagram</a>
        </li>
        <li class="footer__item">
          <a class="footer__link">X</a>
        </li>
      </ul>
    </div>
    <div class="footer__apps">
      <h3 class="subtitle subtitle--third-level footer__subtitle">
        Check our apps
      </h3>
      <ul class="footer__list">
        <li class="footer__item">
          <a class="footer__link">Link</a>
        </li>
        <li class="footer__item">
          <a class="footer__link">Link</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
