    <div class="category" [ngClass]="{
        'category--round': category.round,
        'category--square': !category.round,
    }">
        <ng-container *ngIf="category.round; else notRoundCategory">
            <div class="category__img-wrapper">
                <img class="category__img" [src]="category.photoUrl" [alt]="category.title" loading="lazy">
            </div>
            <h3 class="category__title">{{category.title}}</h3>
        </ng-container>
        <ng-template #notRoundCategory>
            <img class="category__img" [src]="category.photoUrl" [alt]="category.title">
            <span class="tag tag--dark category__tag">{{ category.title }}</span>
        </ng-template>
    </div>
