.order-confirmed {
    &__header {
        width: 100%;
        min-height: 242px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #E5F8BC;
    }
}