.modal {
    &__content {
        padding: 0;
        position: relative;
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        padding: 40px 24px;
        background-color: #F5F6F7;
    }
    &__btns-wrapper {
        display: flex;
        column-gap: 24px;
        padding: 24px;
    }
    &__title {
        color: #202020;
        line-height: 48px;
    }
    &__description {
        color: #4D4D4D;
    }
    &__add-btn {
        flex-grow: 1;
    }
    &__add-btn {
        color: #949494;
    }
    &__price {
        color: #ffffff;
    }
    &__count {
        width: 167px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 32px;
    }
    &__count-field {
        width: 19px;
        flex-shrink: 1;
        border: none;
        appearance: none;
        -moz-appearance: textfield;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
        &:focus, &:active {
            border: none;
            outline: none;
        }
    }
    &__count-decrement, &__count-increment {
        flex-shrink: 0;
    }
}