.home {
    & .home__banner {
        height: 820px;
        margin-bottom: 72px;
        background-color: #B1DDE4;
        background-image: url("../../../../assets/img/Ladies.svg");
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: contain;
    }
    & .home__banner-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 50px;
        padding-top: 151px;
    }
    & .home__extra-banner {
        background-color: #E5F8BC;
    }
    & .home__extra-banner-cont {
        max-height: 487px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 134px;
        overflow: hidden;
        margin-bottom: 70px;
    }
    & .home__banner-left-side {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 40px;
    }
    & .home__banner-right-side {
        display: block;
        width: 654px;
        height: 5076px;
        flex-shrink: 0;
        background-image: url("../../../../assets/img/restaurants-489ff12b.png");
        background-repeat: repeat-y;
        animation:  60s linear 0s infinite normal none running slide;
        -webkit-animation: 60s linear 0s infinite normal none running slide;
    }
    & .home__restaurants-btn {
        padding: 8px 24px;
    }
    & .home__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    & .home__subtitle {
        margin-bottom: 32px;
    }
    & .home__favourite, & .home__new, & .home__categories {
        margin-bottom: 72px;
    }
    @keyframes slide {
        0% {
            transform: translate3d(0px, -1692px, 0px);
        }
        100% {
            transform: translate3d(0px, 0px, 0px);
        }
    }
    @-webkit-keyframes slide {
        0% {
            transform: translate3d(0px, -1692px, 0px);
        }
        100% {
            transform: translate3d(0px, 0px, 0px);
        }
    }
}