<footer class="footer">
  <div class="footer__container">
    <div class="footer__logo">
      <img src="../../assets/icons/logo.svg" alt="Logo" />
    </div>
    <div class="footer__discover">
      <h3 class="subtitle subtitle--third-level footer__subtitle">
        Discover us
      </h3>
      <ul class="footer__list">
        <li class="footer__item">
          <a class="footer__link" href="#">Home</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Categories</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">About</a>
        </li>
      </ul>
    </div>
    <div class="footer__social">
      <h3 class="subtitle subtitle--third-level footer__subtitle">
        Our social media
      </h3>
      <ul class="footer__list">
        <li class="footer__item">
          <a class="footer__link" href="#">Facebook</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Instagram</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">X</a>
        </li>
      </ul>
    </div>
    <div class="footer__apps">
      <h3 class="subtitle subtitle--third-level footer__subtitle">
        Check our apps
      </h3>
      <ul class="footer__list">
        <li class="footer__item">
          <a class="footer__link" href="#">Link</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Link</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
