<div class="restaurant">
  <ng-container *ngIf="this.restaurant">
    <header class="restaurant__header">
      <img
        class="restaurant__img"
        [src]="this.restaurant.image"
        [alt]="this.restaurant.name" />
      <h1 class="title restaurant__title">{{ this.restaurant.name }}</h1>
    </header>
    <section class="restaurant__about">
      <div class="container">
        <h2 class="subtitle restaurant__subtitle">About</h2>
        <p class="restaurant__description">{{ this.restaurant.description }}</p>
        <p class="restaurant__rating">
          <span class="rating-value restaurant__rating-value">{{
            this.restaurant.rating.rate || 'No rating yet'
          }}</span>
        </p>
        <div class="restaurant__category-wrapper">
          <ng-container *ngFor="let item of this.restaurant.category">
            <span class="tag">{{ item }}</span>
          </ng-container>
        </div>
      </div>
    </section>
    <div class="restaurant__menu">
      <div class="container">
        <section
          *ngIf="this.restaurant.menu.food.length !== 0"
          class="restaurant__menu-section">
          <h2
            class="subtitle subtitle--second-level restaurant__subtitle-second">
            Food
          </h2>
          <div class="restaurant__items-list">
            <app-product
              *ngFor="let item of this.restaurant.menu.food"
              [product]="item"></app-product>
          </div>
        </section>
        <section
          *ngIf="this.restaurant.menu.dessert.length !== 0"
          class="restaurant__menu-section">
          <h2
            class="subtitle subtitle--second-level restaurant__subtitle-second">
            Desserts
          </h2>
          <div class="restaurant__items-list">
            <app-product
              *ngFor="let item of this.restaurant.menu.dessert"
              [product]="item"></app-product>
          </div>
        </section>
        <section
          *ngIf="this.restaurant.menu.drinks.length !== 0"
          class="restaurant__menu-section">
          <h2
            class="subtitle subtitle--second-level restaurant__subtitle-second">
            Drinks
          </h2>
          <div class="restaurant__items-list">
            <app-product
              *ngFor="let item of this.restaurant.menu.drinks"
              [product]="item"></app-product>
          </div>
        </section>
      </div>
    </div>
  </ng-container>
</div>
