@use "../../../../styles/colors" as colors;

.order {
    padding-bottom: 84px;
    background-color: rgb(249, 249, 249);
    &__header {
        width: 100%;
        min-height: 305px;
        padding-top: 56px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        background-color: #E5F8BC;
    }
    &__title {
        width: 100%;
    }
    &__section {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: -158px;
    }
    &__details {
        width: 877px;
        padding: 24px;
        background-color: colors.$white;
        border-radius: 8px;
    }
    &__subtitle-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;
    }
    &__indicator {
        width: 100%;
        height: 4px;
        background-color: #F5F6F7;
        margin-bottom: 32px;
    }
    &__current-step {
        height: 4px;
        background-color: colors.$black;
    }
    &__group {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }
}