<div class="order">
  <div class="order__header">
    <div class="container">
      <h1 class="subtitle order__title">
        Your order at {{ restaurant | async }}
      </h1>
    </div>
  </div>
  <section class="container order__section">
    <div class="order__details">
      <ng-container *ngIf="vm$ | async as vm">
        <div class="order__subtitle-wrapper">
          <h2 class="subtitle subtitle--third-level">Details</h2>
          <span>Step {{ vm.step }} of 3</span>
        </div>
        <div class="order__indicator">
          <div
            [ngStyle]="{ width: 'calc(' + vm.step + '/3*100%)' }"
            class="order__current-step"></div>
        </div>
        <app-first-step
          *ngIf="vm.step === 1"
          (increaseStep)="goToAnotherStep($event)"></app-first-step>
        <app-second-step
          *ngIf="vm.step === 2"
          (decreaseStep)="goToAnotherStep($event)"></app-second-step>
      </ng-container>
    </div>
    <div class="order__user-order">
      <h2 class="subtitle subtitle--third-level order__user-order-title">
        Your order
      </h2>
      <ul class="order__list">
        <li class="order__item" *ngFor="let item of order | async">
          <span class="order__item-count">{{ item.count }}</span>
          <span class="order__item-name">{{ item.item.name }}</span>
          <span class="order__item-price">{{
            item.item.price | currency: '&#8364;'
          }}</span>
        </li>
      </ul>
      <div class="order__total">
        <p class="order__total-wrapper">
          <span>Total</span>
          <span class="subtitle subtitle--third-level order__price">{{
            total | async | currency: '&#8364;'
          }}</span>
        </p>
      </div>
    </div>
  </section>
</div>
