@font-face {
  font-family: "Hind-Regular";
  src: url("../assets/fonts/Hind-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../assets/fonts/Montserrat-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat-Black";
  src: url("../assets/fonts/Montserrat-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}